/* Conteudo vazio */
.content_empty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    color: var(--gray-300);
    gap: 1rem;

}
.content_empty div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.content_empty div h3 {
    color: var(--gray-200);
}

/* Conteudo com items */

.container {
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .75rem;
    background: var(--gray-500);
    padding: 1rem;
    margin-top: 1.5rem;

    border: 1px solid #333333;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.container span {
    margin-left: .75rem;
    font-size: .875rem ;
}


.task {
    display: flex;
    color: var(--gray-100);
    justify-content: flex-start;
}

.task_finished {
    text-decoration: line-through;
    color: var(--gray-200);

}

button{
    border: 0;
    background: transparent;
    cursor: pointer;
}
.circle {
    color: var(--blue);
}

.circle_filled {
    color: var(--blue-dark);

}

.trash {
    color: var(--gray-200);
}

.trash:hover{
    color: var(--danger);
}